*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.apk
/app/debug
/.artifacts
/app/src/main/java/dev/spectrumgts/shifttracker/.artifacts
